body {
  background-color: #f2f5f7;
  color: #676c79;
  font-family: sans-serif;
  font-size: 13px;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2vw 0;
  margin-left: calc(200px + 2vw);
}

aside {
  width: 220px;
  height: 100%;
  background: #ffffff;
  color: #676c79;
  position: fixed;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #44a2d2;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  list-style: none;
  height: 50px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}

.link:hover {
  padding-left: 35px;
  background: #1F2B37;
}

.movie {
  width: 29%;
  max-width: 350px;
  margin: 2%;
  background: #ffffff;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-info {
  padding: 0 20px;
  color: #6c787d;
  font-size: 0.8rem;
}

.movie-assetImage img {
  max-width: 100%;
}

.movie-name {
  color: #3b4248;
  font-size: 1.1rem;
}

.movie-figures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.figure {
  display: inline-block;
  font-size: 1.3rem;
  vertical-align: middle;
  text-align: center;
  color: #36596b;
}

.sky {
  color: #0088fe;
}

.now {
  color: #00c49f;
}

.figure-legend {
  font-size: 0.65rem;
  display: block;
  color: #6c787d;
  vertical-align: inherit;

}

.views-pie {
  margin: 0 -15px;
}

.separator {
  border-top: 1px solid #8b999f;
  border-bottom: 1px solid #ffffff;
  margin: 25px 20px -5px;
}

.graph-container {
  width: 100%;
}

.graph{
  width: 90%;
  margin: 20px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
}


@media screen and (max-width: 1100px) {
  .movie {
    width: 46%;
  }
}

@media screen and (max-width: 500px) {
  .movie {
    width: 96%;
  }
}