body {
  color:white;
  background-color: #1d1c1f;
  font-family: sans-serif;
  font-size: 13px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10vw;
}

.movie {
  width: 29%;
  max-width: 500px;
  margin: 2%;
}

.movie-assetImage img {
  max-width: 100%;
}

.movie-duration {
  float: right;
}


@media screen and (max-width: 900px) {
  .movie {
    width: 46%;
  }
}

@media screen and (max-width: 500px) {
  .movie {
    width: 96%;
  }
}